/*
	Suggested order:
		display, position, float, clear
		width, height
		margin, padding
		border, background
		color, font, line-height, text-align, text-decoration
		vertical-align, white-space, overflow, cursor, list-style

	Suggested color names (grayscale preferred):
		white, silver, gray, black
*/

BODY {
	background: white;
}
BODY, INPUT, SELECT, TEXTAREA, BUTTON, TD, TH, BLOCKQUOTE {
	color: black;
	font-size: 10pt;
	font-family: "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
}
H1 {
	font-size: 16pt;
}
H2 {
	font-size: 13pt;
}
H3, H4, H5, H6 {
	font-size: 11pt;
}
UL {
	margin-left: 3em;
	list-style-type: disc;
}
OL {
	margin-left: 3em;
}
A {
	color: black;
	text-decoration: underline;
}

/* =layout
-------------------------------------------------- */
#header {
	padding-bottom: 1em;
	border-bottom: 1px solid gray;
}
#content {
	padding: 1em 0;
}
#footer {
	padding-top: 1em;
	border-top: 1px solid gray;
}

#logo {
	margin: 0;
	font-size: 2em;
	font-weight: bold;
}
#logo A {
	text-decoration: none;
}

/* =tables
-------------------------------------------------- */
TABLE.data {
	border: 1px solid silver;
}
TABLE.data TH,
TABLE.data TD {
	padding: .25em .5em;
	border: 1px solid silver;
}
TABLE.data A {
	border: none;
}
TABLE.data TH {
	font-weight: bold;
}

/* =do not show
-------------------------------------------------- */
#nav,
#lang,
#links,
#tools,
#sidebar,
#modalpopup-wrap,
UL.steps,
DIV.action {
	display: none;
}