html, body, address, article, aside, canvas, details, footer, header, hgroup, menu, nav, section, summary,
div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, figure, figcaption,
abbr, b, cite, code, del, dfn, em, i, ins, kbd, mark, q, samp, small, s, span, strong, sub, sup, time, var,
img, iframe, object, audio, video, canvas,
table, caption, tbody, tfoot, thead, tr, th, td,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
address, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
input, select, button, textarea {
	margin: 0;
}
abbr, dfn, iframe, img, fieldset {
	border: 0;
}
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
}

html, body {
	background: #fff;
}
body {
	line-height: 1;
}
h2, h3, h4, h5, h6, p, ul, ol, dl, table, blockquote, pre {
	margin-top: 1em;
}
h1, h2, h3, h4, h5, h6, dt, th {
	font-weight: bold;
}
ul {
	list-style: none;
}
address {
	font-style: normal;
}
blockquote, q {
	quotes: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
img {
	-ms-interpolation-mode: bicubic;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	text-align: left;
	vertical-align: top;
}

/* =classes
-------------------------------------------------- */
.left { text-align: left !important; }
.right { text-align: right !important; }
.center { text-align: center !important; }

.middle { vertical-align: middle !important; }

.hidden { display: none !important; }
.nowrap { white-space: nowrap !important; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

.w1p { width: 1% !important; }
.w10p { width: 10% !important; }
.w20p { width: 20% !important; }
.w25p { width: 25% !important; }
.w30p { width: 30% !important; }
.w40p { width: 40% !important; }
.w50p { width: 50% !important; }
.w60p { width: 60% !important; }
.w70p { width: 70% !important; }
.w75p { width: 75% !important; }
.w80p { width: 80% !important; }
.w90p { width: 90% !important; }
.w100p { width: 100% !important; }

/* =clear
-------------------------------------------------- */
.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
* html .clear { height: 1px; }
*+html .clear { min-height: 1px; }