/*
	Suggested order:
		display, position, float, clear
		width, height
		margin, padding
		border, background
		color, font, line-height, text-align, text-decoration
		vertical-align, white-space, overflow, cursor, list-style
*/
HTML,
BODY {
	background: #f9f9f9;
}
HTML {
	height: 100%;
}
BODY {
	min-width: 980px;
	min-height: 100%;
	line-height: 20px;
}
BODY, INPUT, SELECT, OPTGROUP, TEXTAREA, BUTTON, TD, TH {
	color: #222;
	font-size: 13px;
	font-family: "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
}

/* headings */

H1 {
	margin: 1em 0 0;
	font-size: 24px;
	line-height: 30px;
}
H2 {
	font-size: 18px;
	line-height: 24px;
}
H3, H4, H5, H6 {
	font-size: 13px;
	line-height: 20px;
}

/* lists */

OL LI,
UL LI {
	min-height: 1px;
	vertical-align: bottom;
}
OL {
	margin-left: 2.5em;
}
OL OL {
	margin: 0 0 0 2.5em;
}
UL {
	margin-left: 1.5em;
}
UL LI {
	padding-left: 1em;
	background: url(bg_ul.gif) no-repeat 0 7px;
}
UL UL {
	margin: 0 0 0 1.5em;
}

/* other */

A {
	color: #1c497e;
	text-decoration: none;
	display: inline-block;
    word-break: break-word;
}
A:hover,
A:focus {
	color: #036;
	text-decoration: underline;
}

DFN[title],
ABBR[title] {
	cursor: help;
}

/* =layout
-------------------------------------------------- */
#header {
	height: 50px;
	padding: 1px 0 0;
	background: url(bg01.gif) repeat-x 0 100%;
}
#nav {
	height: 35px;
	background: url(bg02.gif) repeat-x;
}
#page {
	padding: 1px 0 20px;
	background: #fff url(bg03.gif) repeat-x 0 1px;
}
#sidebarcontainer {
	float: left;
	width: 210px;
}

#sidebar {
   padding: 5px 5px;
	background: #f1f1f1 url(bg04.gif) repeat-x;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;   
}

#content {
	float: right;
	width: 720px;
}
.aligner {
	width: 960px;
	margin: 0 auto;
}

/* =header
-------------------------------------------------- */

/* logo */
#logoimage {
   float: left;
   margin-right: 10px;
}

#logoimage,
#logoimage IMG {
   height: 48px;
}

#logo,
#logo A {
	margin: 15px 0 0;
	color: #222;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
	text-shadow: 1px 1px 0 #fff;
}
#logo {
	float: left;
	margin: 0;
}
#logo A {
	display: block;
	outline: none;
}
#logo A:hover {
	text-decoration: none;
}

/* lang */

#lang {

}

/* links */

#links {

}

/* search */

#search {
	float: right;
}
#search INPUT {
	float: left;
}
#search INPUT.button {
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
#search INPUT.txt {
	width: 180px;
	border-color: #1c497e;
	border-right-width: 0;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	background: #f7f7f7;
}
#search INPUT.txt:focus {
	outline: none;
	background: #fff;
}

/* =nav
-------------------------------------------------- */
#nav UL {
	float: left;
	margin: 0;
	border-left: 1px solid #143764;
	border-right: 1px solid #4374a1;
}
#nav A,
#nav LI {
	float: left;
	padding: 0;
	background: none;
	color: #fff;
	font-weight: bold;
	line-height: 35px;
}
#nav A {
	padding: 0 15px;
	border-left: 1px solid #4374a1;
	border-right: 1px solid #143764;
}
#nav A:hover {
	background: #3f6f9e;
	text-decoration: none;
}
#nav LI.active A {
	border-left: 1px solid #09284f;
	background: #143764;
}

/* =sidebar
-------------------------------------------------- */
#sidebar .inner {
	padding: 1px 10px 10px;
	background: #fff;
}
#sidebar H2 {
	margin: 0 -10px;
	padding: 7px 10px;
	border-bottom: 1px solid #f1f1f1;
	font-size: 12px;
	line-height: 18px;
}
#sidebar H2 .icon {
	margin: 0 5px 0 0;
}
#sidebar H2 A,
#sidebar H2 SPAN.icon {
	vertical-align: middle;
}
#sidebar P {
	margin: 5px 0 0;
}
#sidebar UL.list01 {
	margin: 1em 0 0 5px;
}
#sidebar INPUT.text {
	width: 98%;
}
#sidebar SELECT {
	width: 102%;
}
#sidebar .form-row {
	margin: 0 -5px 0;
	padding: 2px 5px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#sidebar .form-row:first-child {
	margin: 4px -5px 0;
}

#eulogo {
   margin: 20px 0 0 47px;
}

/* menu */

#menu {
	margin: 0 -10px 0;
}
#menu LI {
	padding: 0;
	border-bottom: 1px solid #fff;
	background: none;
}
#menu LI:hover {
	border-color: #f1f1f1;
}
#menu LI A {
	display: block;
	padding: 2px 10px 2px 22px;
	background: url(dot01.gif) no-repeat 10px 9px;
}
* HTML #menu LI A {
	position: relative;
}
#menu LI A:hover {
	background-color: #f1f1f1;
	text-decoration: none;
}
#menu LI.active {
	border-bottom: 1px solid #f0f0f0;
	background: url(bg05.gif) repeat-x;
}
#menu LI.active A,
#menu UL LI.active A,
#menu LI.active UL LI.active A {
	font-weight: bold;
}
#menu LI.active A:hover {
	background-color: transparent;
}
#menu UL {
	margin: 5px 0 5px 1em;
}
#menu UL LI,
#menu UL LI.active {
	border: 0;
	background: none;
}
* HTML #menu LI {
	height: 1px;
}
#menu UL A,
#menu LI.active UL A {
	font-weight: 100;
}
#menu UL LI A:hover,
#menu LI.active UL LI A:hover {
	background-color: #f1f1f1;
}

/* =content
-------------------------------------------------- */
P.meta,
SPAN.meta {
	color: #808080;
}

/* inline elements */

SPAN.sep {
	margin: 0 3px;
	color: #ccc;
}
SPAN.group {
	display: block;
}
SPAN.inline-group {
	display: inline-block;
	white-space: nowrap;
}

/* block-level elements */

DIV.hr {
	height: 0;
	overflow: hidden;
	margin: 1em 0 0;
	border-top: 1px solid #eee;
}
DIV.hr HR {
	display: none;
}

/* =title
-------------------------------------------------- */
DIV.title {
	margin: 1em 0 0;
	padding: 0 0 5px;
	border-bottom: 1px solid #eee;
}
.title H2 {
	margin: 0;
	float: left;
}

/* title-action */

.title-action {
	float: right;
	margin: 3px -1px -5px 0;
}
.title-action A.button,
.title-action A.button-alt,
.title-action P.drop-button {
	display: inline;
	float: left;
	margin: 0 0 0 3px;
}

/* =lists
-------------------------------------------------- */
UL.list01 {
	margin: 1em 0 0;
}
UL.list01 LI {
	background: url(dot01.gif) no-repeat 0 7px;
}

/* =tables
-------------------------------------------------- */

TABLE.data {
	width: 100%;
	border: 1px solid #c0c0c0;
	table-layout: fixed;
}
TABLE.data TH,
TABLE.data TD {
	padding: 4px 6px;
	border: solid #d0d0d0;
	border-width: 1px 0 0 1px;
	background: #fff;
}
TABLE.data TH:first-child,
TABLE.data TD:first-child {
	border-left-color: #c0c0c0;
}
TABLE.data THEAD TH {
	border: 1px solid #c0c0c0;
	background: #eee url(bg_table_th.gif) repeat-x 0 0;
	font-size: 12px;
}
TABLE.data THEAD A {
	border: none;
	color: #000;
	text-decoration: underline;
}
TABLE.data TD.input {
	padding: 2px 3px;
}
TABLE.data TD.check {
	width: 1%;
	padding: 3px 5px 0;
}
TABLE.data TD.ico {
	width: 1%;
	padding: 5px 6px 0;
	text-align: center;
}
TABLE.data TD.ico IMG {
	cursor: help;
}
TABLE.data TD.action,
TABLE.data TD.action-ico,
TABLE.data TD.action-menu {
	width: 1%;
	text-align: right;
	white-space: nowrap;
}
TABLE.data TD.action SPAN {
	margin: 0 2px;
	color: #c0c0c0;
}
TABLE.data TD.action-ico {
	padding: 4px 6px 0;
}
TABLE.data TD.action-ico INPUT + INPUT {
	margin-left: 3px;
}
TABLE.data TD.right INPUT.text {
	text-align: right !important;
}
TABLE.data TD.action INPUT {
	margin: 0 1px;
	vertical-align: top;
}
*+HTML TABLE.data TD.check {
	padding-top: 1px;
}
* HTML TABLE.data TD.check {
	padding-top: 1px;
}
TABLE.data TD.check INPUT {
	vertical-align: top;
}
TABLE.hover TBODY TR:hover TD,
TABLE.hover TBODY TR.hover TD {
	background-color: #fffad0;
}
TABLE.data TR.marked TD {
	background-color: #fff5aa !important;
	color: #000;
}

/* form */

TABLE.form {
	width: 100%;
}
TABLE.form TH,
TABLE.form TH LABEL {
	color: #606060;
	font-weight: bold;
}
TABLE.form TH {
	width: 30%;
	padding: 6px 20px 3px 0;
	text-align: right;
}
TABLE.form TD {
	padding: 3px 12px 3px 0;
}
TABLE.form TD P {
	margin: 0;
	padding: .5em 0;
}
TABLE.form P.info {
	margin: 0;
	padding: 0 0 .2em 0;
}
P.check-title,
P.check-title LABEL {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
P.check-title {
	margin-top: .15em;
}
DIV.check-group {
	margin-left: 1.75em;
}
DIV.check-group DIV {
	float: left;
	margin: 0 1em 1em 0;
	padding: .4em 0 0;
}

TABLE.form TD LABEL {
	margin-right: .75em;
}
TABLE.form TD INPUT {
	vertical-align: middle;
}
TABLE.form TD INPUT.help {
	cursor: help;
}
TABLE.form TD INPUT.action {
	cursor: pointer;
}
TABLE.form SPAN.action {
	margin-left: .5em;
	padding-left: .5em;
	border-left: 1px solid #b2b2b2;
}
TABLE.form SPAN.action A {
	padding: 0 2px;
	font-weight: bold;
	text-decoration: none;
}
TABLE.form SPAN.action A:hover {
	text-decoration: underline;
}
TABLE.form TD.check LABEL {
	margin: 0;
}
TABLE.form TD.check,
TABLE.form TD.check * {
	vertical-align: middle;
}
TABLE.form TD.check {
	padding: 5px 12px 3px 0;
}
TABLE.form TD.data {
	padding-top: 6px;
	word-break: break-word;
}

TABLE.form TD TABLE.wrap TH,
TABLE.form TD TABLE.wrap TD {
	padding: 1px 0 !important;
}

.error,
.error TH,
.error TD,
.error LABEL,
.error SPAN.req {
	color: #cc0a0a !important;
}
.error SELECT,
.error TEXTAREA,
.error INPUT[type="text"],
.error INPUT[type="password"] {
	border: 1px solid !important;
	border-color: #710606 #efb5b5 #efb5b5 #710606 !important;
	background-color: #ffe9e9;
}
SPAN.req {
	color: #999;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

/* wrap */

TABLE.wrap,
TABLE.wrap TD,
TABLE.wrap TH {
	width: auto !important;
	border: none !important;
}
TABLE.wrap {
	margin: 0 !important;
}
TABLE.wrap TD,
TABLE.wrap TH {
	padding: 0 !important;
	text-align: left !important;
}
TABLE.wrap TD,
TABLE.wrap TH,
TABLE.wrap LABEL,
TABLE.wrap INPUT {
	vertical-align: middle;
}
TABLE.wrap LABEL {
	color: #000 !important;
	font-weight: normal !important;
}

/* form row */

.form-row {
	margin: 5px 0 0;
}
.form-row LABEL {
	display: block;
	color: #606060;
	font-weight: bold;
}
.form-row LABEL.field-label,
.form-row LABEL.field-comment {
	padding: 2px 0 2px 4px;
	font-weight: 100;
}
.form-row LABEL.field-comment {
	color: #999;
}
.form-subrow {
	display: block;
	padding: 3px 0 0;
}
.form-subrow INPUT,
.form-subrow LABEL {
	float: left;
}

/* =hint
-------------------------------------------------- */
.hint-trigger-hover {
	background: #fffad0;
}
.hint-content {
	display: none;
}
#hint {
	display: none;
	position: absolute;
	max-width: 200px;
	padding: 0 0 0 17px;
	background: url(bg_hint.png) no-repeat 0 -5px;
}
* HTML #hint {
	width:200px;
}
#hint .inner {
	padding: 5px 10px 10px;
	border: solid #d9ce71;
	border-width: 2px 2px 2px 0;
	background: #fffad0;
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
}
#hint H2 {
	margin: 3px 0 0;
	font-size: 14px;
}
#hint P {
	margin: 5px 0 0;
}
#hint A {
	text-decoration: underline;
}
#hint A:hover {
	text-decoration: none;
}

/* =pager
-------------------------------------------------- */
DIV.pager {
	margin-top: 1em;
}
DIV.pager UL,
DIV.pager LI {
	float: left;
	margin: 0;
	padding: 0;
}
DIV.pager UL {
	list-style: none;
}
DIV.pager LI {
	margin-right: 1px;
	padding: 0;
	background: none;
}
DIV.pager UL A,
DIV.pager UL SPAN,
DIV.pager UL STRONG {
	float: left;
	padding: 3px 8px;
	border: 1px solid #fff;
	line-height: normal;
	text-decoration: none;
}
DIV.pager UL SPAN,
DIV.pager UL STRONG {
	cursor: default;
}
DIV.pager UL A,
DIV.pager UL SPAN {
	border-color: #e0e0e0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
DIV.pager UL A {
	background: #fff;
}
DIV.pager UL A:hover {
	color: #069;
	border-color: #069;
}
DIV.pager UL SPAN {
	color: #999 !important;
}
DIV.pager P {
	float: right;
	margin: 3px 0 0 !important;
}
DIV.pager P SPAN {
	margin: 0 .2em;
	color: #b2b2b2;
}


/* =multi-select
-------------------------------------------------- */
DIV.multi-select {
	width: 95%;
}
DIV.multi-select .multi-select-trigger {
	display: block;
	border: 1px solid;
	border-color: #aaa #ddd #ddd #aaa;
	-moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.06);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.06);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.06);
	background: #fff url(dot02.gif) no-repeat 100% 50%;
	color: #222;
	line-height: 19px;
	text-decoration: none;
	outline: none;
	overflow: hidden;
	width: 95%;
}
DIV.multi-select .multi-select-trigger:hover {
	color: #666 !important;
}
DIV.multi-select .multi-select-trigger SPAN {
	display: block;
	height: 19px;
	padding: 2px 20px 1px 5px;
	white-space: nowrap;
}
DIV.multi-select UL.multi-select-list {
	display: none;
	position: absolute;
	width: 200px;
	max-height: 300px;
	margin: 0 !important;
	padding: 0 !important;
	border: 1px solid;
	border-color: #b2b2b2 #000 #000 #b2b2b2;
	background: #fff;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: auto;
	width: 9.5%;
}
DIV.multi-select UL.multi-select-list LI {
	background: none !important;
	padding: 0 !important;
}
* html DIV.multi-select UL.multi-select-list LI {
	float: left;
	height: 1px;
	width: 100%;
}
DIV.multi-select UL.multi-select-list LI EM {
	display: inline;
	float: left;
	width: 20px;
}
DIV.multi-select UL.multi-select-list LI LABEL {
	padding: 0 0 0 20px;
	font-weight: 100;
}
DIV.multi-select UL.multi-select-list LI.hover {
	background-color: #3399ff !important;
}
DIV.multi-select UL.multi-select-list LI.hover LABEL {
	color: #fff !important;
}
DIV.multi-select UL.multi-select-list LI LABEL {
	display: block;
	cursor: pointer;
}
DIV.multi-select UL.multi-select-list LI.all {
	border-top: 1px solid #dfdfdf;
}
DIV.multi-select UL.multi-select-list LI.all LABEL {
	color: #00747e;
	font-weight: bold;
	vertical-align: middle;
}
#sidebar DIV.multi-select {
	width: 190px;
}

/* =messages
-------------------------------------------------- */
DIV.message {
	margin: 1em 0 0;
	border: 1px solid #d6d02c;
	background: #fffee0 url(ico_msg_info.png) no-repeat 10px 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
DIV.message DIV {
	padding: .75em 12px .75em 48px;
	border: 1px solid #fff;
}
DIV.message H2 {
	margin: 0;
	font-size: 14px;
}
DIV.message P,
DIV.message OL,
DIV.message UL {
	margin-top: .5em;
}
DIV.message A {
	color: #000;
	text-decoration: underline;
}
DIV.msg-ok {
	border-color: #98db7e;
	background: #e5fbdc url(ico_msg_ok.png) no-repeat 16px 11px;
}
DIV.msg-error {
	border-color: #f8c3c3;
	background: #fdecec url(ico_msg_error.png) no-repeat 14px 11px;
}
DIV.msg-error H2 {
	color: #dc291e;
}

/* =controls
-------------------------------------------------- */
SELECT {
	padding: 2px;
}
OPTGROUP {
	font-style: normal;
	font-weight: normal;
}
OPTION.label {
	color: #999 !important;
}
TEXTAREA,
INPUT.text,
INPUT.date,
INPUT.date-range,
INPUT[type="text"],
INPUT[type="password"] {
	padding: 3px 2px;
}
SELECT,
TEXTAREA,
INPUT.text,
INPUT.date,
INPUT.date-range,
INPUT[type="text"],
INPUT[type="password"] {
	border: 1px solid;
	border-color: #aaa #ddd #ddd #aaa;
	-moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.06);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.06);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.06);
	vertical-align: top;
}
SELECT:focus,
TEXTAREA:focus,
INPUT[type="text"]:focus,
INPUT[type="password"]:focus {
	border-color: #888 #ccc #ccc #888;
	outline: 1px solid #d8e9fc;
	outline-offset: 0;
}
BUTTON,
LABEL[for],
INPUT[type="reset"],
INPUT[type="button"],
INPUT[type="submit"],
INPUT[type="radio"],
INPUT[type="checkbox"] {
	cursor: pointer;
}
INPUT[readonly],
TEXTAREA[readonly] {
	background-color: #f8f8f8 !important;
}
INPUT[disabled],
BUTTON[disabled],
SELECT[disabled],
TEXTAREA[disabled] {
	cursor: default !important;
}
SELECT[disabled],
TEXTAREA[disabled],
INPUT[type="text"][disabled],
INPUT[type="password"][disabled] {
	background-color: #f8f8f8 !important;
	outline: none !important;
	color: #999;
	text-shadow: 0 1px 0 #fff;
}
INPUT[type="radio"],
INPUT[type="checkbox"] {
	margin: 3px;
	padding: 0;
}
*+HTML INPUT[type="radio"],
*+HTML INPUT[type="checkbox"] {
	margin: 0;
}
BUTTON::-moz-focus-inner,
INPUT[type="reset"]::-moz-focus-inner,
INPUT[type="button"]::-moz-focus-inner,
INPUT[type="submit"]::-moz-focus-inner {
	padding: 0;
	border: none;
}

/* fields */

INPUT.text {
	width: 214px; /* 220 */
}
INPUT.min {
	width: 34px;  /*  40 */
}
INPUT.small {
	width: 94px;  /* 100 */
}
INPUT.wide {
	width: 334px; /* 340 */
}
INPUT.max {
	width: 454px; /* 460 */
}

/* watermark */

INPUT.example,
TEXTAREA.example {
	color: #999 !important;
}

/* date */

INPUT.date,
INPUT.date-range {
	padding-right: 18px;
	background: #fff url(ico_cal.gif) no-repeat 71px 50%;
	cursor: pointer;
}
INPUT.date {
	width: 69px;
}
INPUT.date-range {
	width: 141px;
	background-position: 143px 40%;
}

/* textarea */

TEXTAREA {
	width: 454px; /* 460 */
	height: 108px;
	line-height: 1.5;
	overflow: auto;
}
TEXTAREA.small {
	height: 54px;
}
TEXTAREA.medium {
	height: 216px;
}
TEXTAREA.big {
	height: 324px;
}

/* error */

LABEL.error {
	color: #dc291e;
	font-weight: bold;
}
INPUT.error,
SELECT.error,
TEXTAREA.error {
	border-color: #dc291e #ed8e78 #ed8e78 #dc291e !important;
	background-color: #fff8f8 !important;
	outline: none !important;
	-moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1);
}
INPUT.error:focus,
SELECT.error:focus,
TEXTAREA.error:focus {
	background-color: #fff !important;
}

/* =icons
-------------------------------------------------- */
A.icon,
SPAN.icon {
	display: -moz-inline-box;
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(bg_icon.png) no-repeat;
	text-align: left;
	text-indent: -5000px;
	vertical-align: top;
}

.icon00 { background-position: 0 -100px !important }	/* BLANK */
.icon01 { background-position: 0 0 !important }			/* document */

/* =buttons & links
-------------------------------------------------- */
A.button,
INPUT.button {
	padding: 0 9px;
	background: #1c497e;
	border: 1px solid #1c497e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff !important;
	font-size: 11px !important;
	font-weight: bold;
	text-decoration: none !important;
	outline: none;
	vertical-align: top;
}
A.button {
	display: -moz-inline-box;
	display: inline-block;
	line-height: 22px !important;
	white-space: nowrap !important;
}
INPUT.button {
	width: auto;
	overflow: visible;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 14px !important;
}
A.button:hover,
A.button:focus,
INPUT.button:hover,
INPUT.button:focus {
	border-color: #628bbb;
	background-color: #628bbb;
}
A.button:active,
INPUT.button:active {
	border-color: #486689;
	background-color: #628bbb;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset;
}
*+HTML INPUT.button {
	padding-top: 3px;
	padding-bottom: 2px;
}
* HTML INPUT.button {
	padding-top: 3px;
	padding-bottom: 2px;
}

/* =form
-------------------------------------------------- */
SPAN.req {
	color: #999;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

P.form {
	margin-top: 10px !important;
}
P.form SPAN.label {
	display: block;
	color: #666;
	font-weight: bold;
}
DIV.form-row P.form {
	float: left;
	margin-right: 10px;
}

/* =action
-------------------------------------------------- */
DIV.action {

}

/* =footer
-------------------------------------------------- */

#footer {
	border-top: 1px solid #f1f1f1;
	color: #757575;
}
#footer P {
	margin: 20px 0 20px;
}

.subfile {
	padding-left: 5% !important;
	border: none !important;
}