<?xml version="1.0" encoding="UTF-8"?>
<jsp:root
   xmlns:jsp="http://java.sun.com/JSP/Page"
   xmlns:c="http://java.sun.com/jsp/jstl/core"
   xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
   xmlns:spring="http://www.springframework.org/tags"
   version="2.1">
   <jsp:directive.page contentType="text/html; charset=utf-8" session="false" />

   <h1>Sarjad</h1>
   <table class="data hover">
      <thead>
         <tr>
            <th class="nowrap">Tähis</th>
            <th>Nimetus</th>
         </tr>
      </thead>
      <tbody>
         <c:forEach items="${compoundSeriesList}" var="compoundSeries">
            <spring:url value="/${organizationName}/sari/${compoundSeries.id}" var="compoundSeriesUrl" />
            <tr>
               <td><a href="${compoundSeriesUrl}"><c:out value="${compoundSeries.mark}"/></a></td>
               <td><a href="${compoundSeriesUrl}"><c:out value="${compoundSeries.title}"/></a></td>
            </tr>
         </c:forEach>
      </tbody>
   </table>
</jsp:root>
